[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-heroku = "*"
python-decouple = "*"
pillow = "*"
cloudinary = "*"
django-cors-headers = "*"
gunicorn = "*"
geocoder = "*"
drf-yasg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-cloudinary-storage]
extras = [ "video",]
